* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global Cursor */

button,
a,
input,
textarea,
select,
label,
[role="button"],
.nav-links *,
.menu-btn {
    cursor: pointer;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #070b18;
  color: white;
}